  /* convert px to em online
  1024px =64em
  
  đổi của responsive để k bị lỗi trên nhiều trang trình duyệt khác nhau
  */
  
  /* PC */
@media (min-width: 64em) {
    
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  #nav {
    font-size: 13.5px;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px!important;
  }

  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .moblie-menu-btn {
    display: block;
  }
  
  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav > li a {
    padding: 1px 24px;
  }

  #nav .subnav {
    /* reset về giá trị mặc định initial */
    position: initial;
    background-color: rgb(48, 45, 45);
  }

  #nav .subnav a{
    color: white;
    padding: 5px 41px;
  }

  #slider .text-heading{
    font-size: 16px;
  }

  #slider .text-description{
    font-size: 14px;
  }

  #slider .text-content{
    right: 16px;
  }

  #content .photo-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 32px;
  }
}

/* Tablet và Mobile */
@media (max-width: 63.9375em){
  #nav .subnav a{
    padding: 5px 12px;
  }

  .btn {
    padding: 15px 16px;
  }

  .contact-form .form-control {
    padding: 15px;
    font-size: 16px;
  }

  .contact-info {
    line-height: 2;
  }

  .contact-submit-btn{
    font-size: 16px;
  }

  .socials-list {
    font-size: 48px;
  }

  #footer .socials-list a{
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }

}