/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* Kiểu chữ cho cả web */
    font-family: Arial, Helvetica, sans-serif;
    /* hành vi khi cuộn */
    scroll-behavior: smooth;
}

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông...)
*/

/* common */
.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}

/*thêm element giả dùng cái này thay cho div clear */
.row::after {
    content: "";
    display: block;
    clear:both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33333%;
}

.col-4 {
    width: calc(100%/4);
}

.col-full {
    width: 100%;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px!important;
}

.mt-32 {
    margin-top: 32px!important;
}

.pull-right {
    /* kéo sang phải */
    float: right !important;
}

.btn{
    color: white;
    background-color: #14397d;
    /* bỏ gạch chân */
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border:none;
    /* bỏ đi css mặc định mà đc trình duyệt add vào (các trình duyệt thường gặp: chrome ,...)*/
    appearance: none;
    /* bỏ đi css mặc định mà đc trình duyệt add vào (các trình duyệt của apple*/
    -webkit-appearance: none;
}

.btn:hover{
    cursor: pointer;
    color: black;
    background-color: #f44336;
}

/* main
#main {

}


 */


/* Header */
#header {
    height: 46px;
    background-color: #001C44;
    /* lm cho header k bị trôi khi cuộn trang display: fixed nó nổi lên bề mặt nhá*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* chọn gt để sao cho nó nổi lên */
    z-index: 1;
    /* Khi con nằm ngoài cha thì ẩn nó */
}

#header .moblie-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .moblie-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
   
}

#header .search-btn:hover {
    background-color: #f44336;
     /* thay đổi hình dạng con trỏ chuột */
     cursor: pointer;
}

#header .moblie-menu-btn:hover {
    background-color: #d7eaf3;
}

#header .moblie-menu-btn:hover .menu-icon{
    color: #14397d;
}

#header .menu-icon,
#header .search-icon {
    color: #BCFEFE;
    font-size: 20px;
    line-height: 46px;
}


#nav {
    display: inline-block;
}

#nav,
.subnav {
    /* bỏ dấu tròn ở đầu (dấu này như cái đánh stt các dòng trong word á */
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {   
    position: relative;
}

/* lấy vào thẻ con trực tiếp dùng >*/
/* lấy thẻ a cấp 1 của nav */
#nav > li > a {
    color: #BCFEFE;
    /* chuyển chữ về in hoa */
    text-transform: uppercase;
}

#nav li a {
    /* bỏ gạch chân */
    text-decoration: none;
    /* căn chữ nằm giữa header (= height của header) */
    line-height: 46px;
    padding: 0 24px;
    display: block;

}

#nav li:hover .subnav {
    /* ghi đè lên #nav > li:hover > a để box works hiện full   */
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #14397d;
    background-color: #bcfefe;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFF9EC;
    /* Tạo bóng đổ cho box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #5D2A42;
    padding: 0 12px;
    line-height: 38px;
}


.nav-arrow-down{
    font-size: 14px;
}



/* slider */

#slider { 
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
    /* viết gộp background */
    background: url('../img/slider/slider_iu.jpg') top center /cover no-repeat;
    /* ./ cứ 1 chấm là nhảy ra ngoài 1 file 
    vd ./ thì slide_iu.jpg sẽ ngang hàng với file slide
      ../ thì slide_iu.jpg sẽ ngang hàng với file img
    */
}

#slider .text-content{
    position: absolute;
    bottom: 15px;
    color:#BCFEFE;
   
    /* căn ra div  class="text-content" ra giữa cách 1 */
    /* transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); */

    /* căn giữa div  class="text-content" ra giữa cách 2 */
        /* width: 100%; */
    
     /* căn giữa div  class="text-content" ra giữa cách 3
        left:0; right:0;
     */
    /* căn text ra giữa */
    text-align: center;
    right: 30px;

}

#slider .text-heading{
    /* giảm độ dày chữ */
    font-weight: 500;
    font-size: 30px;
    /* đổ bóng cho text */
    text-shadow: 0 0 2px gray;
}

#slider .text-description{
    font-size: 20px;
    margin-top: 10px;
    /* đổ bóng cho text */
    text-shadow: 0 0 2px gray;
}

/* 
#content {
    
} */

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    /* căn giữa */
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    /* khoảng cách các chữ cái */
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /* chữ nghiêng */
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    /* căn 2 lề */
    text-align: justify;
    /* khoảng cách các dòng tiếng việt nên cho 1.6, t.a nên cho 1.4 */
    line-height: 1.6;
}

#content .photos-list{
    margin-top: 32px;
    /* cách lm thàng cha ôm đc thg con khi dùng float */
    /* overflow: hidden; */
}

#content .photo-name{
    font-size: 15px;
}

#content .photo-img{
    width: 150px;
    margin-top: 15px;
    /*Viền bo ảnh*/
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* Order section */
.order-section {
    background-color: rgb(48, 45, 45);

}

.orders-list {
    background-color: #FFF9EC;
    margin-top: 40px;
    /* xóa dấu thứ tự */
    list-style: none;
}

.orders-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    /* đường viền */
    border-bottom: 1px solid #ddd;
}

.orders-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.orders-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: rgb(75, 71, 71);
    color: rgb(144, 255, 32);
    /* Tạo viền hình tròn */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* căn giữa */
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}


/* Order album */

.albums-list{
    /* margin: top left_right bottom */
    /* margin: 32px -8px 48px; */
    margin-top: 16px;
}

.album-img{
    width: 100%;
    display: block;
}

.album-img:hover{
    opacity: 0.6;
}

.album-body{
    padding: 16px;
    font-size: 15px;
    background-color: #FFF9EC;
}

.album-heading{
    font-size: 15px;
    font-weight: 600;
}

.album-time{
    margin-top: 15px;
    color: #757575;
}

.album-desc{
    margin-top: 15px;
    line-height: 1.4;
}



/* contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

/* css cho các class của thẻ i bắt đầu là ti- */
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #009688;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    /* bỏ viền ngoài */
    /* outline: none; */
}


.model-section img{
    width: 100%;
}


/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

#footer .copyright a,
#footer .socials-list a:hover{
    color: rgba(0,0,0,0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    /* căn giữa chiều ngang */
    justify-content: center;
    display: none;

}

.modal .open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    /*hiệu ứng*/
    animation: modalFadeIn ease 0.5s;
    -webkit-animation: modalFadeIn ease 0.5s;
    -moz-animation: modalFadeIn ease 0.5s;
    -ms-animation: modalFadeIn ease 0.5s;
    -o-animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #FFF9EC;
    padding: 12px;
    cursor: pointer;
    opacity: 0.6;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-albums {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-albums:hover {
    opacity: 0.9;
}

.modal-footer{
    text-align: right;
    padding: 16px;
}

.modal-footer a{
    color: rgb(121, 238, 238);
}

/* keyframes tạo hình ảnh chuyển động của ảnh tĩnh */
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
        -webkit-transform: translateY(-150px);
        -moz-transform: translateY(-150px);
        -ms-transform: translateY(-150px);
        -o-transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}